<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bar{
            margin:0;
            padding:0;
            list-style: none;
            text-transform: uppercase;
            text-align: center;
        }

        .inline--bar {
            display: inline;
            margin: 0 5vw;
        }
        
    </style>
</head>
<body>
    <ul class="bar">
        <li class="inline--bar">Home</li>
        <li class="inline--bar">Services</li>
        <li class="inline--bar">About us</li>
        <li class="inline--bar">Contact</li>
    </ul>
</body>
</html>